@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar e-mail";
}

<h1>@ViewData["Title"]</h1>
<div>
    <br />
    <a class="w-100 btn btn-lg btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>