@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci minha senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique seu e-mail para redefinir sua senha.
</p>

<div>
    <br />
    <a class="w-100 btn btn-lg btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>