@page
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Você saiu do aplicativo com sucesso.</p>
</header>
<div>
    <a class="w-100 btn btn-lg btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
