<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div id="header_img" class="text-center">
        <img class="img-fluid" src="/images/logo-responsive.png" alt="Igreja Batista da Paz">
    </div>
</div>